/* Hero */

.heroImage {
  background-image: url('../../images/hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
