/* Section */

.section {
    height: 100vh;
    overflow: hidden;
}

@media only screen and (min-width: 650px) {
    .section {
      height: calc(100vh - 67px);
    }
  }

  .sectionDark {
    background-color: var(--background-dark);
    height: 100vh;
    color: var(--background-light)
  }