/* Detail Section */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
}
